#test
name: Build and Deploy 
on:
  push:
    branches:
    - main
env:
  PROJECT_ID: ${{ secrets.RUN_PROJECT }}
  RUN_REGION: us-central1
  SERVICE_NAME: helloworld-python
  GCP_PROJECT_ID_PREFIX: 'GKE'

jobs:
  setup-build-deploy:
    name: "Setup, Build, and Deploy - '${{github.ref}}'"
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Set env
      run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
    
    - name: Test
      run: |
          echo $RELEASE_VERSION
          echo ${{ env.RELEASE_VERSION }}  
    # Setup gcloud CLI  
    - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
      with:
        version: '290.0.1'
        service_account_key: ${{ secrets.RUN_SA_KEY }}
        export_default_credentials: true
        project_id: ${{ secrets.RUN_PROJECT }}

    # Build and push image to Google Container Registry  
    - name: Build
      run: |-
        gcloud builds submit \
          --quiet \
          --tag "gcr.io/$PROJECT_ID/$SERVICE_NAME:devlatest4"
  
    #Terraform remote state GCS
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1

    # Terraform script checkout 
    - name: Terraform repository checkout 
      uses: actions/checkout@v2
      with:
        repository: umahari/tf-store
        path: gke-tf-scripts        
        ssh-strict: false
        #ssh-key: ${{ secrets.MGMT_SSH }}

    - name: Terraform init
      id: init
      run: terraform init
      continue-on-error: false
      working-directory: ./gke-tf-scripts
      env:
        GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}

    - name: Terraform Plan
      id: plan
      run: terraform plan
      continue-on-error: false
      working-directory: ./gke-tf-scripts
      env:
        GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}   
    
    - name: Terraform apply
      id: apply
      run: terraform apply -auto-approve
      continue-on-error: false
      working-directory: ./gke-tf-scripts
      env:
        GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }} 
